In [189]:
import pandas as pd
import sqlite3
from datetime import timedelta

# Connect to database 
conn = sqlite3.connect("src/output/lmp.db")

# LMP table metadata

### Number of observations

In [206]:
count = pd.read_sql_query("""select COUNT(*) from lmp;""",conn).values[0][0]
print(f"Total number of rows {count:,}")

Total number of rows 1,220,739

### Range of time stamps in database

In [203]:
min_time = pd.read_sql_query("""select min(time) from lmp;""",conn).values[0][0]
max_time = pd.read_sql_query("""select max(time) from lmp;""",conn).values[0][0]
print(f" oldest timestamp: {min_time} \n newest timestamp: {max_time}")

 oldest timestamp: 2019-11-01 00:00:00+00:00
 newest timestamp: 2019-11-29 23:00:00+00:00

# Prelim model, serve this to API

In [204]:
df_afpr['time'][0].weekday()

4

In [205]:
df_afpr = pd.read_sql_query(
    """select * from lmp
    WHERE node == "AFPR_1_TOT_GEN-APND";
    """,
    conn)
df_afpr.time = pd.to_datetime(df_afpr.time)
mean_lpm = df_afpr[df_afpr['time'].dt.dayofweek==2].mean()[0]
day = "Monday"
print(f'Mean price of LMP on {day}: {mean_lpm:.2f} $/MW')

Mean price of LMP on Monday: 42.68 $/MW

In [209]:
pd.read_sql_query(
    """select * from lmp
    WHERE node == "AFPR_1_TOT_GEN-APND";
    """,
    conn)

                          time                 node        mw
0    2019-11-01 00:00:00+00:00  AFPR_1_TOT_GEN-APND  52.73052
1    2019-11-01 04:00:00+00:00  AFPR_1_TOT_GEN-APND  48.87989
2    2019-11-01 06:00:00+00:00  AFPR_1_TOT_GEN-APND  39.31160
3    2019-11-01 02:00:00+00:00  AFPR_1_TOT_GEN-APND  57.72738
4    2019-11-01 03:00:00+00:00  AFPR_1_TOT_GEN-APND  50.47870
..                         ...                  ...       ...
691  2019-11-29 16:00:00+00:00  AFPR_1_TOT_GEN-APND  35.18822
692  2019-11-29 14:00:00+00:00  AFPR_1_TOT_GEN-APND  43.55469
693  2019-11-29 13:00:00+00:00  AFPR_1_TOT_GEN-APND  41.19555
694  2019-11-29 19:00:00+00:00  AFPR_1_TOT_GEN-APND  28.27466
695  2019-11-29 18:00:00+00:00  AFPR_1_TOT_GEN-APND  28.93836

[696 rows x 3 columns]