In [1]:
import pandas as pd
from src.input.caiso_connector import (
    download_csv_file,
    unzip_csv,
    delete_data_files,
    find_csv_files,
    ZIP_DIRECTORY,
    target_url
)

# Download file

In [2]:
download_csv_file(target_url, ZIP_DIRECTORY)
unzip_csv(ZIP_DIRECTORY)

# Load dataframe

In [5]:
lmp_columns = ['INTERVALSTARTTIME_GMT', 'NODE','LMP_TYPE','MW']
for file in find_csv_files(ZIP_DIRECTORY):
    df = (pd.read_csv(file, usecols=lmp_columns)
          .rename(columns = {'INTERVALSTARTTIME_GMT':'time','NODE':'node','MW':'mw'}))
    df.time = pd.to_datetime(df.time)
    df = df[df["LMP_TYPE"]=="LMP"].drop(columns=['LMP_TYPE'])
df.head()

                       time                 node        mw
0 2019-02-01 01:00:00+00:00  AFPR_1_TOT_GEN-APND  59.28223
1 2019-02-01 00:00:00+00:00  AFPR_1_TOT_GEN-APND  43.21976
2 2019-02-01 02:00:00+00:00  AFPR_1_TOT_GEN-APND  60.94596
3 2019-02-01 06:00:00+00:00  AFPR_1_TOT_GEN-APND  41.12965
4 2019-02-01 07:00:00+00:00  AFPR_1_TOT_GEN-APND  38.83438

In [ ]:
print(len(df['NODE'].unique()))

In [ ]:
for item in df['NODE'].unique():
    print(item)

In [ ]:
df[df['NODE']=="AFPR_1_TOT_GEN-APND"][['MW']]

In [8]:
# Connect to database 
import sqlite3
conn = sqlite3.connect("src/output/lmp.db")

In [10]:
df.to_sql("lmp", conn, if_exists="replace")

In [11]:
pd.read_sql_query("select * from lmp;", conn)

         index                       time                 node        mw
0            0  2019-02-01 01:00:00+00:00  AFPR_1_TOT_GEN-APND  59.28223
1            1  2019-02-01 00:00:00+00:00  AFPR_1_TOT_GEN-APND  43.21976
2            2  2019-02-01 02:00:00+00:00  AFPR_1_TOT_GEN-APND  60.94596
3            3  2019-02-01 06:00:00+00:00  AFPR_1_TOT_GEN-APND  41.12965
4            4  2019-02-01 07:00:00+00:00  AFPR_1_TOT_GEN-APND  38.83438
...        ...                        ...                  ...       ...
190419  761643  2019-02-05 17:00:00+00:00    YALE_7_UNITS-APND  50.69935
190420  761644  2019-02-05 12:00:00+00:00    YALE_7_UNITS-APND  50.14012
190421  761645  2019-02-05 19:00:00+00:00    YALE_7_UNITS-APND  42.37442
190422  761646  2019-02-05 08:00:00+00:00    YALE_7_UNITS-APND  52.92776
190423  761647  2019-02-05 16:00:00+00:00    YALE_7_UNITS-APND  60.62821

[190424 rows x 4 columns]